p.box1 { border-style: dotted;
    background-color: #3d0099;
    color: #e6e600;
}
p.box3 { border-style: dotted;
    background-color: goldenrod;
    color: green;
}
p.box2 { border-style: dotted;
    background-color: #7fb3f7;
    color: #001aff;
}
p.box6 { border-style: dotted;
    background-color: crimson;
    color:lightseagreen;
 }